/* Step Class */
.step{
    display: block;
    width: calc(100% - 40px);
    padding: 20px;
    animation: color-change-background 7.5s ease-in-out infinite;
}

.step.disabled{
    animation: none;
    pointer-events: none;
}

.step .btn{
    float: right;
}

.step .song-text{
    float: left;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 26.5px;
    font-family: 'Squada One', sans-serif;
    text-transform: uppercase;
}

.step::after {
    content: "";
    clear: both;
    display: table; 
}

.step .title{
    float: left;
    position: relative;
    top: 17.5px;
    font-size: 30px;
}

/* Step 1 */
