.boss-battle{
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 8;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--blue-grey); 
}

/* Game Stats */
.stats{
  display: block;
  position: absolute;
  left: 15px;
  top: 30px;
  font-size: 20px;
  right: 15px;
  text-align: right;
  width: calc(100% - 30px);
}
.stats.health{
  top: 60px;
}
.stats.boss{
  top: 90px;
}
.stats span[css-contain]{
  background: cornflowerblue;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 2px solid cornflowerblue;
  width: 130px;
  box-shadow: 7px 7px 8px rgba(255, 255, 255, 0.493);
  display: inline-block;
  border-left: 2px white solid;
  border-right: 2px white solid;
}
.stats.score span[css-contain]{
  border-top: 2px solid white;
}
.stats.boss span[css-contain]{
  border-bottom: 2px solid white;
}
.stats *{
  font-size: 20px;
}
/* Ratings */
.ratings{
  width: 100%;
  font-size: 30px;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: calc(100vh - 625px);
}
.canvas{
  background-color: #080828;
}
.cutscene{
  background-color: #080828;
}
/* Visualizer Divs */
.viz-contain{
  width: 100%;
  position: fixed;
  bottom: calc(100vh - 550px);
}

.viz{
  border-radius: 20px;
  margin: 30px;
	display: inline-block;
	width: 100px;
	background: white;
  height: 10px;
	transition: all 0.2s ease-in-out;
}

.viz.red{
    background: rgb(219, 63, 63);
}

.viz.blue{
    background: cornflowerblue;
}

.viz.yellow{
    background: rgb(250, 250, 36);
}

.viz.green{
    background: rgb(57, 182, 57);
}

.hide{
	display: none !important;
}

/* Boss Interface */
#boss-contain{
  width: 100%;
  position: absolute;
  top: 60px;
}

#bossDiv{
  color: var(--blue-grey);
  padding-top: 25px;
  font-size: 17.5px;
  width: 75px;
  height: 50px;
  border-radius: 100%;
  background: white;
  transition: transform 0.25s ease-in;
  display: inline-block;
  animation: color-change-background 5s ease-in-out infinite;
}
/* cdPlayer */
.cdplayer{
  top: 15%;
  left: 20%;
  position: fixed;
  z-index: 10;
  font-family: 'DSEG' !important;
  background: white;
  padding: 2%;
  border-radius: 2px;
}
.cdplayer h2{
  font-family: DSEG;
  color:black;
  font-size: 200%;
  background-color: #B0A89E;
  padding: 1%;
}
.cdplayer h4{
  font-family: Squada One;
  font-size: 130%;
  color: black;

}
.cdplayer i{
  color:black;
  margin: 1%;
}
.cdplayer img{
  width: 50%;
  height: 50%;
  transition: all 10s linear;
  margin: 1%;
  display: inline-block;


}
/* effects */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shakeFastTop{
  

  60% { transform: translate(0px, -20px) rotate(0deg); }
 

  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shakeFastBottom{
  

  60% { transform: translate(0px, 20px) rotate(0deg); }
 

  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shakeFastRight{
  

  60% { transform: translate(20px, 0px) rotate(0deg); }
 

  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shakeFastLeft{
  

  60% { transform: translate(-20px, 0px) rotate(0deg); }
 

  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*Animations */
.fade-out {
	-webkit-animation: fade-out 1s ease-in-out forwards;
	animation: fade-out 1s ease-in-out forwards;
}
@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.cdIn {
	-webkit-animation: cdIn 2s ease-in-out backwards;
	animation: cdIn 2s ease-in-out backwards;
}
@keyframes cdIn {
	0% {
		-webkit-transform: translateY(-700px);
		        transform: translateY(700px)
	}
	100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
	}
}
@-webkit-keyframes cdIn {
	0% {
		-webkit-transform: translateY(-700px);
		        transform: translateY(-700px)
	}
	100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
	}
}
