.viz-container{
    text-align: center;
    width: 100%;
    position: fixed;
    top: calc(50vh - 30px);
}

.viz{
	display: inline-block;
	width: 100px;
	background: white;
    height: 5px;
	transition: all 0.2s ease-in-out;
}

.viz.red{
    background: rgb(219, 63, 63);
}

.viz.blue{
    background: cornflowerblue;
}

.viz.yellow{
    background: rgb(250, 250, 36);
}

.viz.green{
    background: rgb(57, 182, 57);
}

@keyframes up-down-1{
	50%{
		transform: scaleY(100);
	}
}

.rating {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 40%;
	-webkit-animation: rating 1s forwards;
	animation: rating 1s forwards;
}
.good {
	color: #2ecc71;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
}
.perfect {
	color: #f1c40f;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
}
.wrong {
	color: red;
}

@keyframes rating {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(150px);
		transform: translateY(150px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(150px);
		transform: translateY(150px);
		opacity: 0;
	}
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }