.boss-battle{
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 8;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--blue-grey); 
}

.ratings{
  width: 100%;
  font-size: 30px;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: calc(100vh - 625px);
}

.viz-contain{
  width: 100%;
  position: fixed;
  bottom: calc(100vh - 550px);
}

.viz{
  border-radius: 20px;
  margin: 30px;
	display: inline-block;
	width: 100px;
	background: white;
  height: 10px;
	transition: all 0.2s ease-in-out;
}

.viz.red{
    background: rgb(219, 63, 63);
}

.viz.blue{
    background: cornflowerblue;
}

.viz.yellow{
    background: rgb(250, 250, 36);
}

.viz.green{
    background: rgb(57, 182, 57);
}

.hide{
	display: none !important;
}

#boss-contain{
  width: 100%;
  position: absolute;
  top: 60px;
}

#bossDiv{
  color: var(--blue-grey);
  padding-top: 25px;
  font-size: 17.5px;
  width: 75px;
  height: 50px;
  border-radius: 100%;
  background: white;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
  animation: color-change-background 5s ease-in-out infinite;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }