/* Base Styles */
body{
	animation: fade-in 1s ease-in-out;
	overflow: hidden;
}
#levels{
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}
#level-list{
	margin-top: 225px;
	text-align: center;
}

/* Sticky Header */
.sticky-hdr{
	position: fixed;
	z-index: 5;
	width: calc(100% - 10px);
	background: var(--blue-grey);
	box-shadow: 0 2px 50px var(--blue-grey);
}
header{
	padding-top: 10px;
}
header .ttl{
	font-family: 'Squada One', sans-serif;
	font-size: 50px;
	animation: color-change-title 7.5s ease-in-out infinite;
}

/* <hr> */
hr{
	margin: 10px;
}

.lvl{
	margin: 10px;
	width: 250px;
	height: 300px;
	display: inline-block;
	position: relative;
	border: 5px solid transparent;
	background: white;
	border-radius: 20px;
}

.lvl .lvl-name{
	display: inline-block;
	font-size: 20px;
	padding-top: 5px;
	border-top-right-radius: 10px;
	padding-bottom: 5px; 
	width: 250px;
	color: var(--blue-grey);
}

/* Style Card For Each Difficulty */
.lvl.easy .lvl-name{
	background: cornflowerblue;
}
.lvl.easy{
	border-color: cornflowerblue;
}
.lvl.normal .lvl-name{
	background: green;
}
.lvl.normal{
	border-color: green;
}
.lvl.difficult .lvl-name{
	background: var(--disabled-red);
}
.lvl.difficult{
	border-color: var(--disabled-red);
}

/* Level Card Song & Artist */
.lvl.easy .lvl-song-info{
	background: cornflowerblue;
	padding: 10px;
}

.lvl.normal .lvl-song-info{
	background: green;
	padding: 10px;
}

.lvl.difficult .lvl-song-info{
	background: var(--disabled-red);
	padding: 10px;
}

.lvl .lvl-song-info{
	top: 60px;
	position: relative;
}

.lvl .lvl-song{
	color: var(--blue-grey);
	display: block;
	margin: 2.5px;
	font-size: 15px;
}

/* Level Number */
.lvl .lvl-number{
	position: absolute;
	font-size: 22.5px;
	width: 50px;
	border-bottom-right-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	top: -5px;
	left: -5px;
	background: var(--blue-grey);
}

/* Level Card Button */
.lvl .btn{
	color: var(--blue-grey);
	background: transparent;
	width: 75px;
	padding: 5px;
	border: 2px solid var(--blue-grey);
	left: calc(70px);
}

.lvl-btn-contain{
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

.lvl .btn:hover{
	color: white !important;
	background: var(--blue-grey) !important;
}

/* Difficulty 'Legend' */
.legend-item, .legend-item *{
	font-size: 20px;
}

/* Custom Scrollbar */
#levels::-webkit-scrollbar{
	background: var(--blue-grey);
	width: 10px;
}
#levels::-webkit-scrollbar-thumb{
	background: white;
}

/* Animations */
@keyframes color-change-title {
	0% {color: cornflowerblue;}
	25% {color: green;}
	50% {color: rgb(175, 53, 175);}
	75% {color: rgb(175, 163, 53);}
	100% {color: cornflowerblue;}
}
@keyframes color-change-border {
	0% {border-color: cornflowerblue;}
	25% {border-color: green;}
	50% {border-color: rgb(175, 53, 175);}
	75% {border-color: rgb(175, 163, 53);}
	100% {border-color: cornflowerblue;}
}
@keyframes color-change-background {
	0% {background-color: cornflowerblue;}
	25% {background-color: green;}
	50% {background-color: rgb(175, 53, 175);}
	75% {background-color: rgb(175, 163, 53);}
	100% {background-color: cornflowerblue;}
}