/* Fonts: Oswald & Squada One */
@import url('https://fonts.googleapis.com/css?family=Oswald|Squada+One&display=swap');
/* ------------------------- */

:root{
    --blue-grey: rgb(33, 47, 59);
    --blue-grey-translucent: rgba(33, 47, 59, 0.918);
    --disabled-red: rgb(216, 112, 112);
		--star-yellow: rgb(156, 125, 46);
}

*{
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    color: white;
}

body, html {
	text-align: center;
	background: var(--blue-grey);
}

/* <hr>, <hr class="white"> */
hr{
    height: 0; 
    border: none;
    border-top: 2px var(--blue-grey) solid;
}

hr.white{
    border-top: 2px white solid;
}

/*
For DSEG font family.
CSS Level 3 Optimized.
2017-03-15 by Keshikan

*/

@font-face {
    font-family: "DSEG";
    src: url("../assets/dseg.woff") format('woff');
  }
 

/* <button class="btn">...</button> */
.btn{
    padding: 15px;
    font-size: 20px;
    color: white;
    background: transparent;
    border: 2px white solid;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 10px;
    transition: background 0.75s ease-in-out, color 0.75s ease-in-out;
}

.btn:hover:not([disabled]){
    color: var(--blue-grey);
    background: white;
}

/* Animations */
@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fade-out{
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* Color-Change Animations */
@keyframes color-change-text {
	0% {color: cornflowerblue;}
	25% {color: green;}
	50% {color: rgb(175, 53, 175);}
	75% {color: rgb(175, 163, 53);}
	100% {color: cornflowerblue;}
}
@keyframes color-change-border {
	0% {border-color: cornflowerblue;}
	25% {border-color: green;}
	50% {border-color: rgb(175, 53, 175);}
	75% {border-color: rgb(175, 163, 53);}
	100% {border-color: cornflowerblue;}
}
@keyframes color-change-background {
	0% {background-color: cornflowerblue;}
	25% {background-color: green;}
	50% {background-color: rgb(175, 53, 175);}
	75% {background-color: rgb(175, 163, 53);}
	100% {background-color: cornflowerblue;}
}
@keyframes color-change-text-border {
	0% {color: cornflowerblue;border-color: cornflowerblue;}
	25% {color: green;border-color: green;}
	50% {color: rgb(175, 53, 175);border-color: rgb(175, 53, 175);}
	75% {color: rgb(175, 163, 53);border-color: rgb(175, 163, 53);}
	100% {color: cornflowerblue;border-color: cornflowerblue;}
}
